#map {
  height: 100%;
}

.icon-wrapper {
  background-color: white;
  padding: 10px;
  border-radius: 32px;
  border: 1px solid blue;
}

.icon-wrapper.problem-station {
  border: 2px solid red;
}

.map-icon {
  position: relative;
  font-size: 24px;
  bottom: 6px;
  right: 6px;
  color: blue;
}

.map-icon.problem-station {
  color: red;
}
